<% @page_title = @filter.summary %>

<%= render "filters/broadcasts", filter: @filter %>

<% content_for :header do %>
  <%= render "cards/index/header", filter: @filter %>
<% end %>

<div class="cards--columns">
  <%= render "cards/index/cards/considering", cards: @considering_cards %>
  <%= render "cards/index/cards/doing", cards: @doing_cards, filter: @filter %>
</div>

<%= render "cards/index/cards/closed", cards: @closed_cards, filter: @filter %>
